@import url(http://allfont.ru/allfont.css?fonts=pt-sans);

body{
    font-family: 'PT Sans', arial;
    font-size: 14px;
    background-color: white;
    text-align: center;
}
A{
    text-decoration: none;  
    color: #fff;
}
A:hover{
    text-decoration: none; 
}

#mainPage {
    margin: 0 auto;
    width: 1200px;
    height: 698px;
    background: url(images/headerBG.png);
    -webkit-box-shadow: -1px -1px 22px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 22px -2px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 22px -2px rgba(0, 0, 0, 0.75);
}
